Source: html5depurate
Section: web
Priority: optional
Maintainer: Tim Starling <tstarling@wikimedia.org>
Build-Depends: debhelper (>= 9), default-jdk, maven
Standards-Version: 3.9.5
Vcs-Git: https://gerrit.wikimedia.org/mediawiki/services/html5depurate.git

Package: html5depurate
Architecture: all
Depends: adduser, default-jre, jsvc
Description: HTML parser and reserializer which supports MediaWiki
 html5depurate is an HTTP frontend to the validator.nu HTML 5 parser. It parses
 some input text and returns the reserialized HTML.
 .
 The parser is event-driven and bind memory usage independently of the document
 size. It is a standalone daemon relying on an integrated webserver.
