#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

include /usr/share/dpkg/default.mk

# main packaging script based on dh7 syntax
%:
	dh $@ 

override_dh_auto_build:
	mvn package

override_dh_auto_test:
	mvn test

override_dh_install:
	dh_install
	DESTDIR=$(CURDIR)/debian/html5depurate $(CURDIR)/debian/link-jar.sh
